<div class="animated fadeIn">
    <div class="navbar navbar-default col-xs-6 searchNotes">

        <div class="navbar-collapse collapse navbar-responsive-collapse">

            <form class="navbar-form navbar-left">
                <input ng-model="searchNotes" type="text" class="form-control col-lg-8" placeholder="Search  on Deleted Notes...">
            </form>

        </div>
    </div>


    <div ng-if="deletedNotes.length==0" class="noNotes">
        <i class="glyphicon glyphicon-file"></i>
        <h1>No deleted notes</h1>
    </div>

    <div ng-repeat="note in deletedNotes | filter:searchNotes" class="note col-xs-4 animated zoomIn">
        <!-- Single button -->


        <h1 id="{{note.id}}">{{note.data.name}}</h1>
        <p>{{note.data.description}}</p>
        <a ng-click="DeletedNotes.on.restore(this)" class="pull-right"> Restaurar</a>
    </div>

</div>
