<div class="appContainer">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">Sonatask</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">{{App.username}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="App.on.logout()">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="sidebar col-xs-2">
        <ul>
            <li ng-class="{active:App.current=='app.notes'}" ui-sref="app.notes">
                <i class="glyphicon glyphicon-file"></i>
                Notes <span class="badge" id="numberNotes">{{App.numberNotes}}</span>
            </li>
            <li ng-class="{active:App.current=='app.notes'}" ui-sref="app.deletedNotes">
                <i class="glyphicon glyphicon-trash"></i>
                Deleted notes <span class="badge" id="deletedNotes">{{App.deletedNotes}}</span>
            </li>
            <li ui-sref="app.todos">
                <i class="glyphicon glyphicon-list-alt"></i>
                To-do tasks <span class="badge" id="numberTask">{{App.numberTask}}</span>
            </li>
        </ul>
    </div>

    <div ui-view class="col-xs-10 pull-right containers"></div>
</div>