<div class="animated fadeIn">
    <div class="navbar navbar-default col-xs-6 searchNotes">

        <div class="navbar-collapse collapse navbar-responsive-collapse">

            <form class="navbar-form navbar-left">
                <input ng-model="searchNotes" type="text" class="form-control col-lg-8" placeholder="Search notes...">
            </form>

        </div>
    </div>

    <div class="col-xs-11 addNotes animated fadeIn" ng-class="{white:Notes.modelNote.color=='#fff',blue:Notes.modelNote.color=='#58D3F7',green:Notes.modelNote.color=='#04B431',pink:Notes.modelNote.color=='#F6CEF5',yellow:Notes.modelNote.color=='#F3F781',brown:Notes.modelNote.color=='#8A4B08'}">
        <form class="form-horizontal">
            <fieldset>
                <legend ng-hide="Notes.editing">Add new note</legend>
                <legend ng-show="Notes.editing">Edit note</legend>
                <div class="form-group col-xs-3">
                    <label for="inputEmail" class="col-lg-2 control-label">Title:</label>
                    <div class="col-lg-10">
                        <input type="text" ng-model="Notes.modelNote.title" class="form-control" id="inputEmail" placeholder="Your amazing note">
                    </div>
                </div>
                <div class="form-group col-xs-6">
                    <label class="col-lg-2 control-label">Description:</label>
                    <div class="col-lg-10 textareaContainer">
                        <div class="form-control-wrapper"><textarea ng-model="Notes.modelNote.description" class="form-control empty" rows="3" id="textArea"></textarea><span class="material-input"></span></div>
                    </div>
                </div>
                <div class="form-group col-xs-3 pull-right buttonContainer">
                    <div class="color white" ng-click="Notes.on.changeWhite()"></div>
                    <div class="color blue" ng-click="Notes.on.changeBlue()"></div>
                    <div class="color green" ng-click="Notes.on.changeGreen()"></div>
                    <div class="color pink" ng-click="Notes.on.changePink()"></div>
                    <div class="color yellow" ng-click="Notes.on.changeYellow()"></div>
                    <div class="color brown" ng-click="Notes.on.changeBrown()"></div>
                    <!--div class="color">
                        <input type="file" nv-file-select="" uploader="uploader" />
                        <span  class="glyphicon glyphicon-picture"></span>
                    </div-->
                    <div class="col-lg-10 col-lg-offset-2">
                        <a ng-hide="Notes.editing" ng-click="Notes.on.saveNote()" class="btn btn-success btn-raised pull-right">Add note</a>
                        <a ng-show="Notes.editing" ng-click="Notes.on.editNoteSave()" class="btn btn-success btn-raised pull-right">Edit note</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="clearfix"></div>
    <div ng-if="notes.length==0" class="noNotes">
        <i class="glyphicon glyphicon-file"></i>
        <h1>No notes</h1>
    </div>
    <div ng-repeat="note in notes | filter:searchNotes" class="note col-xs-4 animated zoomIn" ng-class="{white:note.data.color=='#fff',blue:note.data.color=='#58D3F7',green:note.data.color=='#04B431',pink:note.data.color=='#F6CEF5',yellow:note.data.color=='#F3F781',brown:note.data.color=='#8A4B08'}">
        <!-- Single button -->
        <div class="btn-group" id="{{note.id}}">
            <button type="button" class="btn btn-success btn-raised dropdown-toggle" data-toggle="dropdown">
                Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a ng-click="Notes.on.editNote(this)">Edit</a></li>
                <li><a ng-click="Notes.on.deleteNote(this)">Delete</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <h1>{{note.data.name}}</h1>
        <img ng-if="note.data.image" ng-src="{{note.data.image}}" alt="image"/>
        <p>{{note.data.description}}</p>
    </div>

</div>
