<div class="animated fadeIn">
    <div class="col-xs-11 addNotes animated fadeIn addTodo">
        <form class="form-horizontal">
            <fieldset>
                <legend ng-hide="Todos.editing" class="col-xs-2">Add task</legend>
                <legend ng-show="Todos.editing" class="col-xs-2">Edit task</legend>
                <div class="form-group col-xs-12">
                    <label for="inputEmail" class="control-label">Todo:</label>
                    <div class="clearfix"></div>
                    <div class="col-lg-10 nopl">
                        <input type="text" ng-model="Todos.modelNote.title" class="form-control" id="inputEmail" placeholder="Your amazing task">
                    </div>
                </div>

                <!--div class="col-md-4">
                    <p class="input-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Expiration date:</label>
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                    </p>
                </div-->


            </fieldset>
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <p class="input-group">
                            <label for="inputEmail" class="control-label">Expiration date:</label>
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                        </p>
                    </div>
                    <div class="form-group col-xs-3 pull-right buttonContainer">
                        <div class="col-lg-10 col-lg-offset-2">
                            <a ng-hide="Todos.editing" ng-click="Todos.on.saveNote()" class="btn btn-success btn-raised pull-right">Add task</a>
                            <a ng-show="Todos.editing" ng-click="Todos.on.editNoteSave()" class="btn btn-success btn-raised pull-right">Edit task</a>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="clearfix"></div>

        </form>
    </div>



    <div class="col-xs-12">
        <h1 >Tasks</h1>
        <div ng-if="tasks.length==0" class="noNotes">
            <i class="glyphicon glyphicon-list-alt"></i>
            <h1>No Tasks</h1>
        </div>

        <ul class="taskContainerSort" ui-sortable="sortableOptions" ng-model="items">
            <li ng-repeat="task in tasks | filter:searchTodos" class="taskItem">
                <span class="col-xs-1 glyphicon glyphicon-resize-vertical"></span>
                <p class="col-xs-7">
                    <input ng-if="task.data.check==true" type="checkbox" id="{{task.id}}" value="{{task.data.check}}" checked>
                    <input ng-if="task.data.check==false" type="checkbox" id="{{task.id}}" value="{{task.data.check}}">
                    <span ng-class="{done:task.data.check==true}">{{task.data.name}}</span>
                    <span ng-if="task.data.date" class="pull-right">Expiration date: {{task.data.date|date:'d MMM yyyy'}}</span>
                </p>
            </li>
        </ul>

    </div>






</div>
