*{
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body.welcome{
    /*background: url('../images/extra_clean_paper.png') transparent repeat;*/
    background: #e8e8e8;
}
.formWelcome{
    width: 500px;
    height: 440px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -220px;
    margin-left: -250px;
    background: white;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 3px solid #16A085;
    -webkit-box-shadow: 1px 0px 21px 0px rgba(0, 0, 0, 0.42);
    -moz-box-shadow:    1px 0px 21px 0px rgba(0, 0, 0, 0.42);
    box-shadow:         1px 0px 21px 0px rgba(0, 0, 0, 0.42);
}

.formWelcome legend{
    color:#333;
    margin: 0;
    text-align: center;
}

.formWelcome h1{
    color:#333;
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 50px;
    padding-bottom: 10px;
    border-bottom: 2px dashed #16A085;
}

.formWelcome .btn-success{
    background: #16A085 !important;
    color: white !important;
}

.formWelcome .divider{
    border-bottom: 1px solid #16A085;
    margin: 10px 0;
}

.formWelcome a{
  color: #16A085;
}

.formWelcome label,.formWelcome input{
    color:#333;
}

.formWelcome input{
    border-color: #333;
}

.formWelcome input::-webkit-input-placeholder {
    color:#333;
    font-style: italic;
}

.formWelcome input:-moz-placeholder { /* Firefox 18- */
    color:#333;
    font-style: italic;
}

.formWelcome input::-moz-placeholder {  /* Firefox 19+ */
    color:#333;
    font-style: italic;
}

.formWelcome input:-ms-input-placeholder {
    color:#333;
    font-style: italic;
}

.growl-message{
    color: white !important;
}

/* APP*/

.appContainer .navbar{
    background: #16A085;
    margin-bottom: 0;
}

.appContainer .navbar .navbar-form{
    min-width: 85%;
}

.appContainer .navbar .navbar-form input{
    width: 100%;
}

.appContainer .sidebar{
    background: #000;
    height:calc(100% - 60px);
    position: absolute;
    top: 60px;
    left: 0;
    padding:0;
}


.appContainer .sidebar ul{
   width: 100%;
    padding:0;
}

.appContainer .sidebar ul li{
    width: 100%;
    color: #FFF;
    display: block;
    min-height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #16A085;
    padding: 0 20px;
}

.appContainer .sidebar ul li.active{
    color: #FFF;
    background: #16A085;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
}

.appContainer .sidebar ul li:hover{
    color: #FFF;
    background: #16A085;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
}

.appContainer .sidebar ul li i{
    font-size: 25px;
    margin-right: 5px;
    position: relative;
    top: 5px;
}

.appContainer .addNotes{
    float: none;
    margin: 20px auto;
    background: white;
    padding: 5px 20px 0 20px;
    overflow: hidden;
    border:1px solid #16A085;
    max-height: 95px;
    z-index: 6;
    position: relative;
}

.appContainer .note{
    background: white;
    min-height: 100px;
    border: 1px solid #ddd;
    max-width: 300px;
    margin: 10px;
    -webkit-box-shadow: 1px 0px 12px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow:    1px 0px 12px 0px rgba(0, 0, 0, 0.27);
    box-shadow:         1px 0px 12px 0px rgba(0, 0, 0, 0.27);
}

.appContainer .note .btn-group{
    float: right;
    color: #16A085;
    box-shadow: none;
}

.appContainer .note h1{
    margin: 0;
}

.appContainer .noNotes{
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
}

.appContainer .noNotes h1{
    margin: 0;
}

.appContainer .noNotes i{
    font-size: 45px;
}

.containers{
    max-height: 900px;
    min-height: 700px;
    overflow-y:scroll;
}

.appContainer .addNotes legend{
    margin-bottom: 0;
}

.appContainer .addNotes textarea{
    border: 1px solid #757575;
}

.appContainer .addNotes .textareaContainer{
    position: relative;
    left: 15px;
    top: -10px;
}

.appContainer .addNotes .buttonContainer{
    position: relative;
    top: -15px;
}

.searchNotes{
    float: none;
    margin: 0 auto;
}

.addTodo{
    max-height: 600px !important;
    overflow: visible !important;
}

.appContainer .addTodo .buttonContainer{
    top: -10px !important;
}


.taskItem{
    width: 80%;
}

.done{
    text-decoration: line-through;
    color:#ddd;
}

.taskContainerSort li{
    list-style: none;
    background: white;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    height: 40px;
}

.color{
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    background: #ffffff;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    position: relative;
    overflow: hidden;
}

.blue{
    background: #58D3F7 !important;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.green{
    background: #04B431 !important;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.yellow{
    background: #F3F781 !important;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.pink{
    background: #F6CEF5 !important;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.brown{
    background:#8A4B08 !important;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.white{
    background: #fff !important;
    border: 1px solid #000;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.color input,.color span{
    position: absolute;
    top: 0;
    left: 0;
}

.color input{
    opacity: 0;
    z-index: 3;
}
.color span{
    font-size: 20px;
    z-index: 2;
    cursor: pointer;cursor: pointer;
}

.nopl{
    padding-left: 0 !important;
}