body.welcome{
  background:#16A085 !important;
  display: block;
  overflow: hidden;
  #particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .intro {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
  }
  h1 {
    color:white;
    font-size: 85px;

    letter-spacing: 0.015em;
  }
  h1::after {
    content: '';
    width: 80px;
    display: block;
    background: #fff;
    height: 10px;
    margin: 30px auto;
    line-height: 1.1;
  }
  p {
    margin: 0 0 30px 0;
    font-size: 24px;
    color:white;
  }
  .btn {
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fff;
    text-transform: uppercase;
    letter-spacing: 0.015em;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .btn:hover {
    color: #005544;
    border-color: #005544;
  }
}


/* LOGIN FORM */
.welcomeForm{
  width:600;
  height:300px;
  border:5px solid white;
  padding:20px;
  margin:0 auto;
  color:white;
  legend{
    font-size:35px;
    color:white;
  }
  label{
    color:white !important;
  }
  input{
    color:white !important;
    border-color:white !important;
    &::-webkit-input-placeholder {
      color:white !important;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color:white !important;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
      color:white !important;
    }
    &:-ms-input-placeholder {
      color:white !important;
    }
  }
}


/* APP */
body.app{
  background:#E8E8E8;
  .navbar-collapse{
    background:#16A085;
  }
}

