<div class="container formWelcome animated zoomIn">
    <div class="row">
        <div class="col-xs-12">
            <h1>Sonatask app</h1>
            <div class="form-wrap">
                <legend ng-if="mainView=='signup'">Sign up</legend>
                <legend ng-if="mainView=='login'">Log in</legend>
                <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                    <div ng-if="mainView=='signup'" class="form-group animated fadeIn">
                        <label for="email">Email:</label>
                        <input ng-model="Landing.model.email" type="email" name="email" id="email" class="form-control" placeholder="somebody@example.com">
                    </div>
                    <div class="form-group animated fadeIn">
                        <label for="username">Username:</label>
                        <input ng-model="Landing.model.username" type="text" name="email" id="username" class="form-control" placeholder="myUsername">
                    </div>
                    <div class="form-group animated fadeIn">
                        <label for="key">Password:</label>
                        <input ng-model="Landing.model.password" type="password" name="key" id="key" class="form-control" placeholder="Password">
                    </div>
                    <a ng-if="mainView=='signup'" ng-click="Landing.on.signUpUser()" class="animated fadeIn btn btn-success btn-block btn-success pull-left">Sing up</a>
                    <a ng-if="mainView=='login'"  ng-click="Landing.on.logInUser()" class="animated fadeIn btn btn-success btn-block btn-success pull-left">Log in</a>
                    <div class="clearfix"></div>
                    <div class="divider"></div>
                    <p ng-if="mainView=='signup'" class="text-right animated fadeIn">Or <a ng-click="Landing.on.login()">Login</a></p>
                    <p ng-if="mainView=='login'" class="text-right animated fadeIn">Or <a ng-click="Landing.on.signup()">Sign up</a></p>
                </form>
            </div>
        </div> <!-- /.col-xs-12 -->
    </div> <!-- /.row -->
</div> <!-- /.container -->
</section>